
body {
max-width: 376px;     
}
    
.header__inner{
display: flex;
justify-content: space-around;
background-color: rgb(0, 0, 0);
vertical-align: middle; 
} 

.logo{
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 15px;
margin-top: 18px;
text-transform: uppercase;
color: #E3B873;
 }
   

 .header-novigation__item a {
text-decoration: none;
list-style: none;
font-style: normal;
font-family: Nunito Sans;
font-weight: normal;
font-size: 11px;
line-height: 15px;
text-align: right;
color: #FFFFFF;
 }

.hero__container{
width: 338px;
margin-left: 18px;
}

.hero {
width: 375px;
height: 476px;
position:relative;
display: flex;
background: rgba(0,0,0,.5);   
   
}

.hero::before {
content: "";
position: absolute;
background-image: url('../css/images/image\ 4.7.jpg');
opacity: 0.7;                
left: 0;
bottom: 0;
right: 0;
position: absolute;
z-index: -1;  
background-repeat: no-repeat; 
top: 0;
    }

.title {
font-family: Yeseva One;
font-style: normal;
font-weight: normal;
font-size: 23px;
line-height: 132.83%;
text-transform: uppercase;
color: #FFFFFF;
 }

.Get{
   
height: 89px;
    
}

.Get__ready{
font-family: Nunito Sans;
font-weight: normal;
font-size: 14px;
line-height: 135.84%;
color: #FFFFFF;
font-style: normal;
}

.get__form{
 padding: 0%;
}

.City {
color: #E3B873;
}

.grup{

width: 676.11px;
height: 305px;
margin-left: 134px;

}

.calculat {
font-family: Nunito Sans;
margin-top: 41px;
border: none;
color: #FFFFFF;
width: 100%;
height: 51px;
background:transparent;
border: 1px solid #FFFFFF;
}

.calculat:hover{
background: #E3B873;
}



h1{
font-family: Yeseva One;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 138.6%;
text-align: center;
letter-spacing: -0.07em;
text-transform: uppercase;
color: #E3B873;
    
}

.only{
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 158.48%;
text-align: center;
color: #FFFFFF;
width: 311px;
height: 86px;
margin-bottom: 29px;
   
}
.wrapper-completed__item{
display: flex;
flex-direction: column;
background-color: rgb(0, 0, 0);
vertical-align: middle; 
height: 169px;
padding: 36px 32px 36px 32px;
}

.wrapper-completed{
background: #000;
width: 375px;
height: 246px;
}

.image-interior{
background: #000;
width: 375px;
height: 240px;
border: 0px;
padding-bottom: 36px;

}
.image-interior__item{
background-image: url('../css/images/image\ 2.jpg');
margin-left: 18px;
width: 340px;
height: 241px;  
overflow: hidden;
    
}


.style-form{
outline: none;
padding-top: 100px;
width: 340px;
height: 38px;
display: flex;
justify-content:space-between;

}

.btm-left{
background: url('../css/images/playleft.svg');
background-repeat: no-repeat;
width: 38px;
height: 38px;
border: none;

}


.btm-right{
background: url('..//css/images/playright.svg');
background-repeat: no-repeat;
width: 38px;
height: 38px;
border: none;
}

.information{
  
background: #000;
}

.progect__item{
display: flex;
flex-wrap: wrap;
background: #000;
margin-right: 18px;
margin-left: 16px;
}


.information__content{ 
display: flex;
justify-content: space-between;
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 27px;
color: #FFFFFF;
 }
   
.information-paragraph2{
display: flex;
justify-content: space-between;
font-family: Yeseva One;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
text-transform: uppercase;
color: #E3B873;
 }

.pointer img{

vertical-align: middle;
}

.camera{
       
background: #000;
 }

.camera__item{ 

margin: 0 auto;
padding-top: 58px;
padding-bottom: 40px;
width: 196px;
font-family: Yeseva One;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;

}

.camera__images img{
margin-top: 27px;
vertical-align: middle;
    
 }
.video{    
background: #000;
}

.video__image{
display: flex;
width: 340px;
height: 207px;
margin-right: 18px;
margin-left: 16px;
background-image: url(../css/images/repare.jpg);
position: relative;
}

.video__image::before{
content: '';
width: 340px;
height: 207px;
position: absolute;
background-color: rgba(0, 0, 0, 0.692);
}


.video__play{
border: none;
width: 37px;
height: 37px;
background-image: url('../css/images/play.svg');
border-radius: 50%;
border: none;
background-color:  #E3B873;
background-size: cover;
position: absolute;
z-index: 2;
margin: auto;
top: 0; left: 0; bottom: 0; right: 0;
} 


.information hr{
margin-top: 28px;
border-radius: 30px;
border-color: #E3B873;
background: #E3B873;
width: 55px;
height: 1,55px;  
}

.information{
overflow: hidden;
background: #000;
}

.information__item{
width: 340px;
height: 107px;
margin: 0 auto;
margin-top: 21px;
text-align: center;
line-height: 200%;
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 11px;
text-align: center;
color: #FFFFFF;
}

.contact {
background: #000;
}

.contact__item{
margin-left: 18px;
margin-right: 18px;
display: flex;
align-items: flex-start;
width: 340px;
height: 311px; 
flex-direction: column;
}

.name { 
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 21px;
color: rgba(255, 255, 255, 0.5);
 
}

.pole{
margin: 0;
outline: none;
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
color: #FFFFFF;
background-color: black;

}

.contact__btm{
border-bottom: 2px solid rgba(243, 247, 240, 0.3);
padding-bottom: 3px;
width: 100%;
  
}
.egreement {
 
top: 30px;
width: 300px;
height: 18px;
position: relative;
margin: 0 auto;
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
color: #FFFFFF;

  }

.egreement__input{
display: none;

}
.egreement__input+label::before{
  
content: '';
display: inline-block;
vertical-align: middle;
width: 18px;
height: 18px;
background: #E3B873;
padding: 4px;
box-sizing: border-box;
   
}

.egreement__input:checked+label::before{
content: '';
background-image: url(../css/images/galka.svg);
background-repeat: no-repeat;
background-size: cover;
padding: 4px;
background-origin: content-box;
box-sizing: border-box;
vertical-align: middle;
  
}

.contact__submit-submit{
margin-top: 63px;
width: 340px;
height: 51px;
background: #E3B873;
border:none;
box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 27px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}

.repair {
margin-top: 58px;
text-align: center;
width: 257px;
height: 67px;
font-family: Yeseva One;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
text-transform: uppercase;
color: #181818;
margin-left: auto;
margin-right: auto;
 }

.repair img{
vertical-align: middle;
}
 
.wraper-interios{
  
margin: 160px;
margin-left: 18px;
margin-right: 18px;
margin-bottom: 0;
display: flex;
justify-content: space-around;
flex-direction: row;

  }

.interios__img1 {
background-image: url('../css/images/image.jpg');
width: 340px;
height: 365px;
background-repeat: no-repeat;
  }

.interios__redecorating {

margin-left: 0px;
margin-right: 70px;
margin-top: -223px;
background: rgb(255, 255, 255);
margin-bottom: 30px;
  }

.interios__title{
padding: 25px 68px 13px 34px;
font-family: Yeseva One;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
color: #363636;
      }

.interios__block{ 
  
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 169.8%;
color: #959595;
}

.interios__img2 {
background-image: url('../css/images/image\ 3-2.jpg');
width: 340px;
height: 365px;
background-repeat: no-repeat;
background-size: cover;
    }

.interios__Overhaul {
margin-left: 0px;
margin-right: 70px;
margin-top: -223px;
margin-bottom: 30px;
background: rgb(255, 255, 255);
    }

.interios__img3 {   
background-image: url('../css/images/image\ 3.jpg');
width: 340px;
height: 365px;
background-repeat: no-repeat;
background-size: cover;
}

.interios__Designerкepair {
margin-left: 0px;
margin-right: 70px;
margin-top: -223px;
margin-bottom: 30px;
background: rgb(255, 255, 255);
    
}

.btmsize{
background: #E3B873;
box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
width: 228px;
height: 54px;
background: #E3B873;
border:none;
border-radius: 2px;
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 27px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}

.fantasies{
  
width: 340px;
margin: 0 auto;    
}


.fantasies__your{
text-align: center;
font-family: Yeseva One;
font-style: normal;
font-weight: normal;
font-size: 27px;
line-height: 37px;
text-transform: uppercase;
color: #E3B873;
}
  
p{
padding: 0px;
}

.wrapper{
display: flex;
flex-direction: column;
margin-top: 145px;
background: rgb(0, 0, 0);
width: 375px;
height: 1116px;
}

.interior-closet{ 
margin-top: -121px;
margin-left: 17px;
background-image: url('../css/images/image\ 5.3.jpg');
width: 340px;
height: 242px;
}


.leave {
display: flex;
flex-direction:column;
margin-top: 52px;
margin-left: 18px;
margin-right: 18px;
}

.leaverequest{
font-family: Yeseva One;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}

.knopka{

font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 13px;
color: rgba(255, 255, 255, 0.5);
}

.namename{
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 23px;
color: rgba(255, 255, 255, 0.5);
}

.agreement{
margin-top: 23px;
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 163.68%;
color: #FFFFFF;

}

.knopka{
border-bottom: 2px solid rgba(243, 247, 240, 0.3);
padding-bottom: 3px;
width: 100%;
}


.leave__pole{
margin: 0;
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
color: #FFFFFF;
background-color: black;

}

.input {
display: none; 
}


.input+label::before{
  
content: '';
display: inline-block;
vertical-align: middle;
width: 18px;
height: 18px;
background: #E3B873;
padding: 4px;
box-sizing: border-box;
} 

.input:checked+label::before{
content: '';
background-image: url(../css/images/galka.svg);
background-repeat: no-repeat;
background-size: cover;
padding: 4px;
background-origin: content-box;
box-sizing: border-box;
vertical-align: middle;
}

.karta-image{
margin-top: 40px;
background-image: url(../css/images/image\ 7.1.jpg);
width: 340px;
height: 255px;
}

.kontact-rostov{

margin:  0 auto;
height: fit-content;
width: fit-content;
}

.kontact-rostov h3{

font-family: Yeseva One;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 138.6%;
text-align: center;
text-transform: uppercase;
color: #E3B873;
padding: 0;
  }

.btm-connection{
display: flex;
align-items: center;
justify-content: center;

}
.btm-connection__mail{
width: 39px;
height: 39px;
border: 0px;
background-color: transparent;
background-image: url(../css/images/mail.svg);

}
.btm-connection__instagram{

width: 39px;
height: 39px;
border: 0px;
background-color: transparent;
background-image: url(../css/images/instagram.svg);
  
}